html{
    height: 100%;
}
body {
    background: linear-gradient(110.27deg, #EEAECA 0%, #94BBE9 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/*background right asset*/
.svg-asset{
position: absolute;
width: auto;
height: auto;
right: 1;
top: 170.98px;
}

/*nab bar*/
.navbar-brand {
    font-size: 45px;
    font-weight: bold;
}

/*Banner area*/
.banner-area {
    color: #fff;
    position: relative;
    /* width: 338px;
    height: 94px; */
    left: auto;
    right: auto;
    top: 303px; 
    margin-bottom: 465px;
}

.banner-area h2 {
    font-size: 40px;
}
.banner-area h4 {
    margin: 0;
    font-size: 40px;
    font-weight: lighter;
}


