.banner-header{
  background-image: url(https://i.imgur.com/eCBFcIe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #FFFFFF;
  padding-top: 320px;
  padding-bottom: 300px;
}

/*box-area*/
.box-content{
  margin-top: 20px;
  margin-bottom: 20px;
}

.box{
  width: 300px;
  height: 300px;
  border: 5px solid #F4EFEF;
  border-radius: 15px;
  margin: 45px auto;
  box-shadow: 0px 3px 6px 0.3px #F4EFEF;

}

.box:hover{
  width: 350px;
  transition:1s;
}

.box h1{
  text-align: center;
  margin: 120px auto;
  font-size: 20px;

}

a:link {
    text-decoration: none;
		color: black;
}

a:hover{
	  text-decoration: none;
		color: #708090;
}

a:visited{
  text-decoration: none;
  color: black;
}

.banner-x{
  background-image: url(https://i.imgur.com/sLmeymv.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 120px;
  padding-bottom: 120px;
}

.resume-preview{
  padding-top: 50px;
  padding-bottom: 115px;
}
.resume-preview h3{
  padding-bottom: 40px;
}

.resume-preview p{
  padding-top: 60px;
}

.fa{
font-size: 33px;
width: 80px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
color: #708090;
}

.footer{
  padding-top:10px;
  background-color: #272727;
  color: #FFF;
  font-size: 14px;

}


.bioarea{
  padding-top: 20px;
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
}

.bioarea h1{
  padding-bottom: 45px;
}

.resume-text-area{
  padding-top: 20px;
}

.skill-area{
  padding-bottom: 30px;
}

.skill-area h4{
  padding-top: 10px;
  padding-bottom: 30px;
}

.skill-area h5{
  padding-bottom: 8px;
  color: #E2A213;
}

.skill-area button{
  margin-top:20px;
}
